<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/iSpend.app</string>
		<key>Architectures</key>
		<array>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>com.orgiamisoftware.ispend</string>
		<key>CFBundleShortVersionString</key>
		<string>10</string>
		<key>CFBundleVersion</key>
		<string>12</string>
		<key>SigningIdentity</key>
		<string>Apple Development: Spencer Marks (27ZN3WGRBH)</string>
		<key>Team</key>
		<string>NJ55UC9QDK</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2025-09-18T21:33:31Z</date>
	<key>Name</key>
	<string>iSpend</string>
	<key>SchemeName</key>
	<string>iSpend</string>
</dict>
</plist>
