<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iSpend.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>19</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2491C352C8FBD23348831C82726BBE3B56D28E86</string>
				<key>dateExpires</key>
				<string>9/17/26</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>NJ55UC9QDK.com.orgiamisoftware.ispend</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>NJ55UC9QDK</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>iSpend.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4652f96c-2352-481a-b60a-e42a504b46ee</string>
				<key>dateExpires</key>
				<string>9/18/26</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.orgiamisoftware.ispend</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>NJ55UC9QDK</string>
				<key>name</key>
				<string>Spencer Marks</string>
			</dict>
			<key>versionNumber</key>
			<string>10</string>
		</dict>
	</array>
</dict>
</plist>
